[Desktop Entry]
Version=13.0
Type=Application
Terminal=false
Icon[en_US]={{global_vars.home_path}}/ide/idea-IU-{{intellij_build}}/bin/idea.png
Name[en_US]=IntelliJ
Exec={{global_vars.home_path}}/ide/idea-IU-{{intellij_build}}/bin/idea.sh
Name=IntelliJ
Icon={{global_vars.home_path}}/ide/idea-IU-{{intellij_build}}/bin/idea.png
