[Desktop Entry]
Version=1.0
Type=Application
Name=IntelliJ IDEA Ultimate Edition
Icon={{global_vars.home_path}}/ide/idea-IU-{{intellij_build}}/bin/idea.png
Exec="{{global_vars.home_path}}/ide/idea-IU-{{intellij_build}}/bin/idea.sh" %f
Comment=The Drive to Develop
Categories=Development;IDE;
Terminal=false
StartupWMClass=jetbrains-idea
