[Desktop Entry]
Name=Oracle SQL Developer
Comment=Oracle SQL Developer
Exec={{sqlDeveloper_exe_path}}
Icon={{sqlDeveloper_icon_path}}
Type=Application
StartupNotify=true
Categories=Development;Utility;
MimeType=text/plain
